* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    scroll-behavior: smooth;
}

header {
    background: #000000;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header > nav {
    width: 100%;
    position: fixed;
    top: 0;
    background: #313442;
    color: #F5F5F5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 1000;
}

header > nav > a {
    text-decoration: none;
    color: #F5F5F5;
}

a:hover {
    color: #FF8833;
}

header > .content > h1 {
    color: #FF8833;
    text-align: center;
    margin-bottom: 1rem;
}

header > .content > p {
    color: #FF8833;
    text-align: center;
}

main > .about {
    height: 100vh;
    background: #1c1e26;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

main > .about > .figures {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
}

main > .about > .figures > figure {
    margin: 0 1rem;

}

main > .about > h1 {
    color: #FF8833;
    text-align: center;
    margin-bottom: 1rem;
}

main > .about > p {
    color: #FF8833;
    text-align: center;
    margin-bottom: 4rem;
}

main > .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000000;
}

main > .skills > h1 , h3{
    color: #FF8833;
    text-align: center;
}

main > .skills > .overview {
    display: grid;
    grid-template-columns: repeat(3, minmax(33vw, 1fr));
    grid-template-areas: "development growth team";
}

main > .skills > .overview > .development {
    grid-area: development;
}
main > .skills > .overview > .growth {
    grid-area: growth;
}
main > .skills > .overview > .team {
    grid-area: team;
}









@media only screen and (max-width:650px) {
    main > .skills > .overview {
    grid-template-columns: 1fr;
    grid-template-areas: 
     "development"
     "growth"
     "team";
    }
}