* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    scroll-behavior: smooth;
}

p {
    line-height: 1.6;
    font-size: larger;
}

header {
    background: #000000;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header > nav {
    width: 100%;
    position: fixed;
    top: 0;
    background: #2a2e3f;
    color: #F5F5F5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    height: 2rem;
}

/* nav bar hover UX */

header > nav > a {
    text-decoration: none;
    color: #F5F5F5;
}

a:hover {
    color: #FF8833;
}

header > .content > h1 {
    color: #FF8833;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
}

header > .content > p {
    color: #FF8833;
    text-align: center;
}

/* header linkedin and github image links */
header > .headersocials img {
    margin: 1rem;
    width: 3rem;
    height: auto;
    border-radius: 8%;
}

header > .headersocials a {
    text-decoration: none;
}

/* spinning sunset */
/* This circle below was implemented by adapting from the Ed challenge with the rainbow circle */

@keyframes glowing {
    0% {
        background-color: rgb(255, 81, 0);
    }
    25% {
        background-color: rgb(255, 204, 0);
    }
    100% {
        background-color: #FF8833;
    }
}

div {
    position: relative;  /* relative to the viewport */
    border-radius: 50%; /* creates a perfect circle, curve should extend to 
                        half the element's width and half the element's height*/
}

header > .circle {
    align-self: flex-start;
    height: 10vh;
}

 
.one {
    height: 300px;
    width: 300px;
    background-color: #FF8833;
    border: 50px solid #FF6A00;
    z-index: 1;
    top: -420px;
    left: -100px;
    animation: glowing 1.5s ease-in-out infinite alternate;
}

main > .about {
    height: 100vh;
    background: #1c1e26;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

main > .about > .about-text {
    max-width: 80vw;
}

main > .about > .about-text > h1 {
    color: #FF8833;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

main > .about > .about-text > p {
    color: #FF8833;
    text-align: center;
    margin-bottom: 2rem;
}

main > .about > .figures {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
}

main > .about > .figures img {
    width: 80px;
    height: 80px;
    margin: 0 1rem;
    margin-bottom: 1rem;
}

main > .about > .figures #aska {
    width: auto;
    height: 80px;
}



/* skills , languages and tools below */

main > .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000000;
    padding-bottom: 2rem;
}

main > .skills > h1 , h2 ,p {  /* the commas cause these styles to apply to h2, h3, p globally*/
    color: #FF8833;
    text-align: center;
    margin-bottom: 2rem;
}

main > .skills > h1 {
    padding-top: 2rem;
}

main > .skills h3 {
    color:#FF8833;
    text-align: center;
    padding: 1rem;
}

main > .skills > .overview {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
     "development"
     "growth"
     "team";
    text-align: center;
    max-width: 100vw;
}

main > .skills > .overview > .development {
    grid-area: development;
    padding: 1rem;
}
main > .skills > .overview > .growth {
    grid-area: growth;
    padding: 1rem;
}
main > .skills > .overview > .team {
    grid-area: team;
    padding: 1rem;
}

main > .skills > .languages {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:    "html css"
                            "javascript python"
                            "sass c";
    gap: 1rem;
    text-align: center;
    margin-bottom: 2rem;
}



main > .skills > .tools {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:    "react flask "
                            "postrgress nodejs" 
                            "git rubyrails";
    gap: 1rem;
    text-align: center;
}

main > .skills > .tools .rubyrails {
    border-radius: 15%;
}

/* projects nav bar anchor links to each project description */

main > .projects {
    background: #1c1e26;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-bottom: 2rem;
}

main > .projects > h1 {
    color: #FF8833;
    text-align: center;
    margin-bottom: 2rem;
}

/* image previews for the projects */

main > .projects > nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "project1 project2"
                         "project3 project4";
    gap: 1rem;
    row-gap: 2rem;
}

main .projects .preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
main .projects .preview img {
    min-width: 11rem;
    min-height: 16rem;
    width: 70%;
    max-height: 19rem;
    object-fit: cover;
    filter: brightness(70%);
}

main .projects .preview img:hover {
    filter: brightness(90%);
}

main .projects .textover {
    display: block;
    margin-top: 1rem;
    max-width: 11rem;
    height: 1rem;
    text-decoration: none;
    color: #F5F5F5;
}

main .textover:hover {
    color: #FF8833;
}

/* more detail about individual projects */

main .showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    flex-wrap: wrap;
    padding: 0 1rem;
}

main > .showcase > img {
    width: 100%;
    max-width: 26rem;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

main > .showcase > .text {
    max-width: 90%;
    padding: 1rem;
    color: #FF8833;
    text-align: center;
}

main > .showcase > .text > p {
    margin-top: 1rem;
}

main > #project1 {
    background: #186118;
    /* background: #258627; */
}

main > #project2 {
    background: #9b0700;
}


main > #project3 {
    background: #0136a9;
}

main > #project4 {
    background: purple;
}

/* interests component */

main > .interests {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    background: #000000;
}
main > .interests > .gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
    padding: 1rem;
    min-width: 20rem;
    width: 80%;
    max-width: 28rem;
}

main > .interests > .gallery > figure  > img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

main > .interests > h1 {
    color: #FF8833;
    margin-top: 2rem;
}
main > .interests figcaption {
    margin-top: 1rem;
    color: #FF8833;
}

/* contacts component */

main > .contact  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1c1e26;
    padding: 1rem;
}

main > .contact > img {
    border-radius: 50%;
    min-width: 20rem;
    width: 40%;
    max-width: 28rem;
    padding-top: 1rem;
}

main > .contact > h1 {
    color:#FF8833;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

main > .contact > h3 {
    color:#FF8833;
    text-align: center;
    margin-bottom: 1rem;
}

main > .contact button {
    margin-bottom: 1rem;
    padding: 1rem 6rem;
    font-size: large;
    border:1px solid #FF6A00;
    background: none;
    color: #FF6A00;
}

main > .contact button:hover {
    background-color: #FF8833;
    color: #1c1e26;
}

main > .contact .resume {
    margin-top: 1rem;
}

main > .contact .github {
    margin-bottom: 2rem;
}

/* footer component */

footer {
    background: #FF6A00;
    text-align: center;
}

footer > p {
    margin-bottom: 0;
    color: #000000;
    font-weight: 600;
}

/* CSS for Blogs Navigation Page */

.blogindex > header {
    background: #000000;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.blogindex > header > h1 {
    color: #FF8833;
    text-align: center;
}

.blogs {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "aside";
}

.blogindex > section > aside {
    grid-area: aside;
    background: #1c1e26;
    min-height: 80vh;
    padding: 2rem;
    text-align: center;
}

.blogindex > section > aside a {
    color: #FF8833;
    text-decoration: none;
}

.blogindex > section > aside > h1 {
    color: #FF8833;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.blogindex > section > aside p {
    color: #F5F5F5;
    margin: 1rem;
}

.blogindex > section > aside a:hover {
    color: #FF6A00;
}

.blogindex > section > aside li {
    list-style-type: none;
    font-size: 1.2em; 
    padding: 1rem 0;
}

.blogindex > section > .cards {
    grid-area: main;
    display: none;
    background: white;
    padding-right: 1rem;
}

/* articles here are the previews of the blogs */

.blogindex > section > .cards > article {
    background: #F5F5F5;
    height: auto;
    max-height: 22rem;
    width: 100%;
    border-radius: 8%;
    padding-top: 2rem;
    margin: 1rem 0;
}

.blogindex > section > .cards > article img {
    width: 100%;
    height: auto;
    display: block;
}

.blogindex > section > .cards > article > h3 {
    width: 100%;
    padding: 1rem 1rem;
    margin-bottom: 0;
    height: auto;
    display: block;
}

.blogindex > section > .cards > article a {
    color: #FF8833;
    text-decoration: none;
    font-size: 1.1em;
}

.blogindex > section > .cards > article a:hover {
    color: #FF6A00;
}



/* CSS for Individual Blogs */

.blogbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background: #1c1e26;
    min-height: 100vh;
}

.blogbody > header {
    background: #000000;
    width: 100%;
    max-width: 46rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
}

.blogbody > header > h4 {
    color: #FF8833;
    margin-bottom: 0;
    text-align: center;
}

.blogbody > header > p {
    color: #FF8833;
    margin-bottom: 0;
    text-align: center;
}

.blogbody > figure > img {
    width: 100%;
    max-width: 46rem;
}

.blogbody > figure h2 {
    color: #F5F5F5;
}

.blogbody > article > h1 {
    color: #FF8833;
    text-align: center;
}

.blogbody > article > p {
    color: #F5F5F5;
    max-width: 46rem;
    text-align: left;
    margin-top: 2rem;
}

.blogbody > footer {
    width: 100%;
    max-width: 46rem;
}

.blogbody > header > button {
    padding: 1% 2%;
    border-radius: 10%;
    background: #F5F5F5;
    cursor: pointer;
}

.blogbody > header > button:hover {
    background: #FF6A00;
    color: #F5F5F5;
}




                            /* ------media queries------- */

                            /* for tablet size and above */
@media only screen and (min-width: 755px) {
    
    .one {
        height: 500px;
        width: 500px;
        z-index: 1;
        top: -500px;
        left: -150px;
    }

    main > .about {
        padding: 2rem;
    }

    main > .skills {
        padding: 2rem;
    }

    main > .skills > .overview {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "development growth team";
    }

    main > .skills > .languages {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:    "html css javascript"
                            "python sass c";
    gap: 1rem;
    text-align: center;
    }        

    main > .skills > .tools {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:    "react flask postrgress"
                                "nodejs git rubyrails";
        gap: 1rem;
        text-align: center;
    }

    main > .projects {
        justify-content: flex-start;
        height: 60vh;
    }

    main > .projects h1 {
        margin-top: 2rem;
    }

    main > .projects > nav {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: "project1 project2 project3 project4";

    }

    main .projects .preview img {
        min-height: 19rem;
    }

    main > .showcase {
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
    }

    main > .showcase > img {
        max-width: 40%;
    }

    main > .showcase > .text {
        max-width: 40%;
        padding-left: 2rem;
        padding-right: 0;
    }
    
    main > .showcase > .text > h1 {
        margin-top: 10%;
        text-align: left;
    }

    main > .showcase > .text > p {
        margin-top: 10%;
        text-align: left;
    }

    main > .interests > .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-gap: 1rem;
        padding: 1rem;
        min-width: none;
        max-width: none;
    } 

    main > .interests > .gallery > figure  > img {
        height: 16rem;
    }

    .blogindex > .blogs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-template-areas: "aside main main"
                             "aside main main";
        min-height: 70vh;
        column-gap: 1rem;
    }
    
    .blogindex > section > .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        grid-gap: 1rem;
    }

    .blogindex > section > aside p {
        display: none;
    }
}
                             /* for desktop size and above */
@media only screen and (min-width: 1000px) {
    
    header > nav {
        width: 100vw;
    }
    
    main > .interests > .gallery > figure  > img {
        height: 19rem;
    }

    main > .interests > .gallery {
        grid-template-columns: repeat(4, 1fr);
        width: auto;
    }

}